{% extends "layout.html" %}

{% block style %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind+Madurai:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;1,900&display=swap');

        :root{
            --bg-light: #fff;
            --bg-dark: #283122;
            --bg-cloud: #f5f5da;
            --bg-sun: #00461b;
            --bg-light-body: #000000;
            --bg-dark-body: #ffffff;
            --bg-light-checkbox-one: #bfd66b;
            --bg-light-checkbox-two: #90d1c7;
            --bg-dark-checkbox-one: #73abb9;
            --bg-dark-checkbox-two: #335a63;
        }
        body{
            font-family: Hind Madurai, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            /* width: 100%; */
            height: 95.7vh;
            background: url('{{init_imgs.0.banner.url}}');
        }
        svg{
            width: 30px;
            height: 30px;
            fill: white;
            background-color: gray;
            border-radius: 50%;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Navbar styles */
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #33333300;
            color: white;
            z-index: 1000;
            padding: 10px 20px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        /* Logo */
        .logo {
            font-family: Great Vibes, sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }

        /* Navbar links */
        .nav-links {
            list-style: none;
            display: flex;
            gap: 15px;
        }

        .nav-links li a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 1rem;
            padding: 8px 12px;
            border-radius: 5px;
            color: white;
            transition: 0.3s ease;
        }

        .nav-links li a:hover {
            background-color: rgb(85, 85, 85, .15);
            color: rgb(35, 44, 20);
        }

        .checkboxDesign{
            position: absolute;
            top: 0px;
            left: 0vw;
            display: inline-block;
            width: 50px;
            height: 25px;
            background-color: transparent;
            /* background-image: linear-gradient(
                to top, 
                var(--bg-light-checkbox-one), 
                var(--bg-light-checkbox-two)
            ); */
            border-radius: 50px;
            position: relative;
            box-shadow: 0 0 0 2px var(--bg-light-body), 
            0 0 0 2px var(--bg-light-checkbox-one)
            ;
            transition: .5s;
            z-index: 100;
        }
        .checkboxDesign input{
            display: none;
        }
        .checkboxDesign::before{
            position: absolute;
            top: 3px;
            left: 25px;
            background-image: linear-gradient(135deg, black, green);
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            /* box-shadow: 83px -5px 0 -25px var(--bg-cloud), 
                98px -21px 0 -30px var(--bg-cloud), 
                120px -7px 0 -27px var(--bg-cloud), 
                109px 5px 0 -28px var(--bg-cloud)
            ; */
            transition: .5s;
        }
        body:has(input[name="checkboxDesign"]:checked){
            /* background-color: var(--bg-dark-body); */
            background: linear-gradient(135deg, rgb(255, 255, 255, .1), var(--bg-dark) 50%), url('./pexels-shattha-pilabut-38930-135620.jpg');
            color: #ffffff;
        }
        .checkboxDesign:has(input:checked){
            box-shadow: 0 0 0 2px var(--bg-dark-body), 
            0 0 0 2px var(--bg-dark-checkbox-one);
            backdrop-filter: blur(20px);
            /* background-image: linear-gradient(to top, 
            var(--bg-dark-checkbox-one), 
            var(--bg-dark-checkbox-two)            
            ); */
        }
        .checkboxDesign:has(input:checked)::before{
            left: calc(100% - 46px);
            /* box-shadow: -70px -3px 0 -42px var(--bg-cloud), 
            -90px -23px 0 -30px var(--bg-cloud), 
            -120px 8px 0 -40px var(--bg-cloud),
            -87px 21px 0 -41px var(--bg-cloud); */
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            backdrop-filter: blur(28px);
            color: white;
            z-index: 1000;
            padding: 10px 20px;
            box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
        }
        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            list-style: none;
        }
        .footer-container li a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        section{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        /* .display.over{
            background: linear-gradient( 135deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.514) 70%);
            background-color: #ffc40017;
            backdrop-filter: blur(0px);
            z-index: 6;
        } */
        .display{
            position: absolute;
            top: 8%;
            left: .3%;
            width: 97.5vw;
            height: 92vh;
            border: 1px solid white;
            border-radius: 14px;
            backdrop-filter: blur(14px);
            overflow: hidden;
            /* background: linear-gradient( 135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.911) 0%); */
        }

        .display .over{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            background: linear-gradient( 135deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.514) 70%);
            z-index: 6;
        }

        .display .item .description{
            display: none;
        }
        .display .item.active .description{
            display: block;
            position: absolute;
            bottom: 15%;
            left: 3%;
            width: 50%;
            color: rgb(255, 255, 255);
            z-index: 6;
            filter: blur(10px);
            opacity: 0;
            animation: fadeIn 2s ease-in-out 1 forwards;
            animation-delay: .5s;
        }
        .display .item .description h1{
            font-size: 3rem;
            font-weight: 100;
            font-family: Poppins;
            letter-spacing: 10px;
            margin-bottom: 70px;
            color: white;
        }
        .display .item .description p{
            font-size: 1.2rem;
            font-weight: 10;
            letter-spacing: 1px;
            margin-bottom: 70px;
            text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.096);
            color: white;
        }
        .display .item.active .description p{
            animation-delay: 1s;
        }
        .display .item .image{
            display: none;
            position: absolute;
            width: 100%;
            top: 5%;
            border-radius: 10px;
            left: 2%;
            
        }
        .display .item.active .image{
            display: block;
            z-index: 5;
            filter: blur(10px);
            opacity: 0;
            animation: fadeIn 2s ease-in-out 1 forwards;
        }
        @keyframes fadeIn {
            to{
                filter: blur(0px);
                opacity: 1;
                color: rgb(0, 0, 0);
            }
        }
        /* .cover{
            position: absolute;
            top: 40%;
        } */
        .container{
            position: relative;
            top: -15%;
            left:14%;
        }
        .circle{
            position: absolute;
            top: 11%;
            left: 54%;
            width: 900px;
            height: 910px;
            border-radius: 50%;
            /* backdrop-filter: blur(30px); */
            background: conic-gradient(
                rgb(255, 0, 0, 0) 0% 5%,
                rgb(36, 36, 36) 10% 70%,
                /* rgb(255, 165, 0) 30% 60%, */
                rgb(255, 0, 0, 0) 80% 100%
            );
            transform: rotateZ(-55deg);
            z-index: 7;
            /* display: none; */
        }
        .items{
            position: absolute;
            top: 11%;
            left: 54%;
            width: 900px;
            height: 900px;
            border-radius: 50%;
            /* background: conic-gradient(
                rgb(210, 255, 216) 4% 10%,
                rgb(255, 255, 255) 13.3% 43.3%,
                rgb(210, 255, 216) 46.3% 53.3%,
                rgb(255, 255, 255) 56.6% 86.6%,
                rgb(210, 255, 216) 89.6% 96.6%
            ); */
            /* background: white; */
            backdrop-filter: blur(21px);
            transform: rotate(0deg);
            z-index: 6;
            overflow: hidden;
            animation: rotateSlide1 5s ease-in-out infinite;
        }
        @keyframes rotateSlide1{
            33.3%{
                transform: rotate(120deg);
            }
            66.6%{
                transform: rotate(240deg);
            }
            100%{
                transform: rotate(359deg);
            }
        }
        .items .ani_icon.one{
            width: 30%;
            height: 30%;
            transform: translate(10%, 120%);
            border: 2px solid rgb(0, 68, 6);
            border-radius: 50%;
            mix-blend-mode: multiply;
        }
        .items .ani_icon.two{
            width: 30%;
            height: 30%;
            transform: translate(65%, 200%) rotate(240deg);
            border: 2px solid rgb(0, 68, 6);
            border-radius: 50%;
            mix-blend-mode: multiply;
        }
        .items .ani_icon.three{
            width: 30%;
            height: 30%;
            transform: translate(-40%, 30%) rotate(120deg);
            border: 2px solid rgb(0, 68, 6);
            border-radius: 50%;
            mix-blend-mode: multiply;
        }

        #gmail, #phoneno{
            display: none;
        }

        @media screen and (max-width: 720px) {
            .container{
                display: none;
            }

            .display .item .image{
                height: 100%;
                object-fit: cover;
            }
        }

        @media screen and (max-width: 380px) {
            .display{
                top: 14%;
            }
            .display .item .description h1{
                margin-top: 100px;
                font-size: 1.5rem;
            }
            .display .item .description p{
                font-size: 1rem;
            }
        }
    
    </style>
{% endblock style %}

{% block content1 %}
    <section>
        {% comment %} <div class="display over">

        </div> {% endcomment %}
        <div class="display">
            <div class="over">

            </div>

            {% for img in init_imgs %}
                {% if forloop.first %}

                {% elif forloop.last %}

                {% elif forloop.counter == 2 %}
                    <div class="item active">
                        <div class="description">
                            <h1>{{img.title}}</h1>
                            <p>{{img.body}}</p>
                        </div>
                        <img src="{{img.banner.url}}" class="image" alt="{{img.title}}">
                    </div>
                {% else %}
                    <div class="item">
                        <div class="description">
                            <h1>{{img.title}}</h1>
                            <p>{{img.body}}</p>
                        </div>
                        <img src="{{img.banner.url}}" class="image" alt="{{img.title}}">
                    </div>
                {% endif %}
            {% endfor %}
            
            
        </div>
        
        <div class="container">

            <div class="circle">
                
            </div>
            <div class="items">
                <img src="{{gifs.0.image.url}}" class="ani_icon one" alt="{{gifs.0.title}}">
                <img src="{{gifs.1.image.url}}" class="ani_icon two" alt="{{gifs.1.title}}">
                <img src="{{gifs.2.image.url}}" class="ani_icon three" alt="{{gifs.2.title}}">
            </div>
        </div>
    </section>
{% endblock content1 %}